.navbar {
    padding: 10px;
    background: #1569f8;
    font-weight:bold;
    font-family:Helvetica;
}

.navbar li {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 15px;
    font-weight:bold;
}

.home {
    padding: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 15px;
}

.body{
    font-family:Helvetica;
}

.header{
    padding-top: 5px;
    background: lightblue;
    text-align: center;
    font-weight: 500;
    font-size:x-large
}

.section{
    font-style:inherit;
    font-weight: 600;
    font-family: Helvetica;
    text-align: justify;
}

.Title{
    font-size:x-large;
    text-align: center;
    font-weight: 600;
    margin-top: 10pt;
    font-family: Helvetica;
    font-style:inherit;
}

.img{
    border-radius: 100px;
}

.dataframe{
    border-color: blue;
    box-shadow: #1569f8;
    margin-left: 150pt;
    text-align: center;
    font-size: medium;
}

.table{
    width: fit-content;
}